body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.pageWrapper {
  text-align: center;
}

.content {
  text-align: left;
}

.active {
  background-color: grey;
}

.imageWrapper {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.imageWrapper img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.kittenContentWrapper {
  position: relative;
}
